<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lightning0.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,2},{1,1}}</string>
                <key>offset</key>
                <string>{-349,383.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{699,768}</string>
            </dict>
            <key>lightning1.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{217,138}}</string>
                <key>offset</key>
                <string>{-62,315}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,0},{217,138}}</string>
                <key>sourceSize</key>
                <string>{699,768}</string>
            </dict>
            <key>lightning2.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,689},{355,256}}</string>
                <key>offset</key>
                <string>{-65,256}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,0},{355,256}}</string>
                <key>sourceSize</key>
                <string>{699,768}</string>
            </dict>
            <key>lightning3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1235},{677,418}}</string>
                <key>offset</key>
                <string>{-11,175}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{677,418}}</string>
                <key>sourceSize</key>
                <string>{699,768}</string>
            </dict>
            <key>lightning4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,689},{677,544}}</string>
                <key>offset</key>
                <string>{-11,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{677,544}}</string>
                <key>sourceSize</key>
                <string>{699,768}</string>
            </dict>
            <key>lightning5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{685,768}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{685,768}}</string>
                <key>sourceSize</key>
                <string>{699,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lightning-ipad.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83f59dee222855fc67ca98b03231290c:2dc0f6fb56dda6fbc75d9f2ebcc0cd81:df59827b17c2b3f0e4e3b3cfe9567021$</string>
            <key>textureFileName</key>
            <string>lightning-ipad.png</string>
        </dict>
    </dict>
</plist>
